<div class="container ">
  <div class="row d-flex justify-content-center my-4">
    <div class="col-4 offset-col-3">
      <mat-card class="example-card ">
        <mat-card-header>
          <mat-card-title>Time to Start WorkOut</mat-card-title>
          <mat-card-subtitle>AppTraining</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="w-100">
            <mat-select placeholder="Select WorkOut" class="w-100">
              <mat-option value="core">
                core
              </mat-option>
              <mat-option value="crunches">
                crunches
              </mat-option>
              <mat-option value="touch-toes">
                touch-toes
              </mat-option>
              <mat-option value="side-lunges">
                side-lunges
              </mat-option>
              <mat-option value="burpees">
                burpees
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button type="submit" (click)="onStartTraining()">Start</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
